"*":
  "atom-beautify":
    general:
      _analyticsUserId: "bfb0b0bd-5e1e-40ec-a4a9-6a88784bfb8f"
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      "*.swp"
    ]
    telemetryConsent: "no"
  "exception-reporting":
    userId: "42e72511-a5b6-0266-196b-2ea3a3084a44"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "linter-clang":
    clangDefaultCFlags: "-Wall -std=c99"
    clangSuppressWarnings: true
  nuclide:
    "nuclide-home":
      showHome: false
    use:
      "nuclide-clang-atom": false
      "nuclide-file-tree": false
      "nuclide-side-bar": false
  "sync-settings":
    _analyticsUserId: "8770dd91-18ad-4d81-9ec0-7099862b0d4b"
    _lastBackupHash: "78eeefc2dcd5c7110c67b12582aaa8f0f4286e4f"
    analytics: false
    gistId: "676474d8cb000532e1b6b6116257b803"
    personalAccessToken: "fd74c605f4f8d4a90974c4a1f961796dcb4d4613"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
